#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

ul {
    padding: 0;
}
.todo-wrapper {
    margin-top: 50px;
}
.error-message-wrapper {
    min-height: 31px;
    margin-bottom: 10px;
}
.error-message {
    background-color: darkred;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    margin: 0;
    position: relative;
}
.error-message button {
    background-color: #fff;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.error-message span {
    padding: 0 15px;
}